.portfolio {
  width: 85%;
  margin-bottom: 100px;
}
.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}
.mainItem {
  position: relative;
  margin-right: 15px;
}
.item {
  width: 300px;
  height: 220px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 20px auto;
  border-radius: 15px;
}
.title {
  font-weight: 800;
  margin: 30px 0px;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
 
}
.title h4 {
  width: 120px;
}
.title div {
  height: 1.5px;
  background-color: #c3b9b9;
  transform: translateY(-50%);
  margin-left: 30px;
  width: 590px;
}
.main a {
  color: #7d7789;
  font-weight: 700;
}
.overlay {
	top: 20px;
	bottom: 0;
	left: 0;
	right: 0;
	cursor: pointer;
	position: absolute;
	width: 300px;
	height: 220px;
	opacity: 0;
	transition: 0.5s ease;
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
	border-radius: 15px;
}
.overlay img {
  position: absolute;
  top: 45%;
  margin: 0 auto;
  width: 32px;
  height: 32px;
}
.mainItem:hover .overlay { 
	opacity: 1;
}
.mainItem a {
  font-size: 16px;
  font-weight: 500;
  color: #000
}
@media (max-width: 1500px) {
  .title div {
    width: 400px;
  }
  .main {
    justify-content: center;
  }
}
@media (max-width: 1200px) {
  .title div {
    width: 300px;
  }
}
@media (max-width: 992px) {
  .title div {
    width: 500px;
  }
  .main {
    justify-content: space-around;
  }
}