.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 20px;
}
.title {
  font-weight: 800;
  margin: 30px 0px;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title h4 {
  max-width: 145px;
}
.title div {
  height: 1.5px;
  width: 320px;
  background-color: #c3b9b9;
  transform: translateY(-50%);
  margin-left: 30px;
}
.wrapper {
  color: #7d7789;
}
.info {
  padding: 20px;
}
.wrapper li {
  margin-bottom: 8px;
}
.first {
  display: inline-block;
  font-weight: 800;
  width: 100px;
}
.second {
  color: #7d7789;
}
.programming {
  padding: 20px;
}
.skills {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  justify-content: center;
}
.programmingName {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 30px;
}
.skillName {
  font-weight: 500;
}
.language {
  padding: 20px;
  margin-bottom: 100px;
}
.language li {
  margin-right: 10px;
}
.language ul {
  display: flex;
  justify-content: space-around;
}
.listInner {
  width: 100%;
  position: relative;
  text-align: center;
}
.myCircle {
  position: relative;
  float: left;
}
:root {
  --size: 80px;
  --bord: 5px;
}
.circle {
  width: var(--size);
  height: var(--size);
  margin: 1em auto;
  border-radius: 50%;
  background-image: conic-gradient(
    #7d7789 var(--value),
    lightgrey var(--value)
  );
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.lang {
  width: 80px;
}
.circle::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - var(--bord));
  height: calc(100% - var(--bord));
  background: white;
  border-radius: inherit;
}
.num1 {
  --value: 95%;
}
.num2 {
  --value: 85%;
}
.num3 {
  --value: 75%;
}

@media (max-width: 1200px) {
  .main {
    font-size: 16px;
  }
  .title div {
    width: 270px;
  }
}
@media (max-width: 470px) {
  .title div {
    width: 180px;
  }
  .info, .programming, .language {
    padding: 0px;
  }
}

