.title {
  font-weight: 800;
  margin: 30px 0px;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
 
}
.title h4 {
  width: 120px;
}
.title div {
  height: 1.5px;
  background-color: #c3b9b9;
  transform: translateY(-50%);
  margin-left: 30px;
}
.blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}
.blockItem a {
  display: block;
  color: #c3b9b9;
  font-size: 12px;
}
.blockItem {
  text-align: center;
  border: 1px solid #c3b9b9;
  padding: 10px;
}
.form {
  max-width: 443px;
}
.input {
  font-size: 12px;
  font-weight: 300;
  max-width: 351px;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  outline: none;
  background: transparent;
  border: 0;
  border: 1px solid #c3b9b9;
}
.text {
  font-size: 12px;
  font-weight: 300;
  outline: none;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #c3b9b9;
  width: 400px;
  height: 100px;
}
