.header {
  grid-area: h; 
  position: fixed;
  top: 0;
  left: 0px;
  right: 0px;
  height: 60px;
  z-index: 10;
  background: #FFFFFF;
  display: flex;
  align-items: center;
  width: 100%;
}
.navmenu {
  display: flex;
  justify-content: flex-end;
}
.item a {
  font-size: 16px;
  font-weight: 500;
  padding: 5px 30px;
  color: #333;
}
.item a:hover {
  border: 1px solid #333;
  padding: 4px 29px;
}
.activeLink {
  background: #333;
  height: 30px;
  color: aliceblue !important;
  transition: none 1s ease;
}
.container {
  width: 1200px;
  margin: 0 auto;
}