.footer {
  grid-area: f;
  height: 70px;
  background-color: #fff;
  z-index: 10;
  line-height: 70px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  color: #000;
  font-weight: 500;
  font-size: 12px;
}
.container {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.social {
  display: flex;
}
.social a {
  width: 15px;
  height: 15px;
  margin-left: 15px;
}
.social a:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
}
.insta {
  background: url("/src/assets/icon/instagram.png") no-repeat top center/cover;
}
.fb {
  background: url("/src/assets/icon/facebook.png") no-repeat top center/cover;
}
.linkedin {
  background: url("/src/assets/icon/linkedin.png") no-repeat top center/cover;
}
.git {
  background: url("/src/assets/icon/github.png") no-repeat top center/cover;
}
.tele {
  background: url("/src/assets/icon/telegram.png") no-repeat top center/cover;
}
