.app-wrapper {
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 5fr 7fr;
  grid-template-areas:
    "h h"
    "n c"
    "f f";
  width: 80%;
  min-height: 100vh;
  margin: 0 auto;
}
.app-wrapper-content {
  grid-area: c;
  background-color: #f6fbff;
  display: flex;
  align-items: center;
  padding: 80px;
  justify-content: center;
}