.app-wrapper {
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 5fr 7fr;
  grid-template-areas:
    "h h"
    "n c"
    "f f";
  width: 80%;
  min-height: 100vh;
  margin: 0 auto;
}
.app-wrapper-content {
  grid-area: c;
  background-color: #f6fbff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mobile {
  display: none;
}
@media (max-width: 1200px) {
  
}
@media (max-width: 992px) {
  .mobile {
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 6fr 6fr;
    grid-template-areas:
      "h h"
      "c c"
      "f f";
    min-height: 100vh;
    margin: 0 auto;
    background-color: #f6fbff;
  }
  .mobileContent {
    grid-area: c;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .app-wrapper {
    display: none;
  }
}
